body{
    margin: 0;
}
#display{
    display: flex;
    flex-direction: row;
    
}
#menu{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    
}
#text{
    list-style-type: none;
}
#home{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 225px;
}
#About{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 295px;
}
#img{
    width: 49%;
}
#color{
    background-color: gray;
    height: 98px;
}
#tasks{
    padding-top: 50px;
}
#Table-sec{
    padding-top: 60px;
    
}
#table_width{
    width: 50%;
    height: 250px;
}
td {
    text-align: center;
}
#foot{
    text-align: center;
    background-color: gray;
    padding-bottom: 3px;
    padding-top: 3px;

   
}

 #footer{
    margin-top: 131px;
} 
#copy{
    color: white;
}